BODY{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
}

.profesi{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 0 2px 4px;
}

header{
    text-align: center;
    margin-bottom: 20px;
}
h1{
    margin: 0;
    font-size: 2.5em;
    
}