/*Nama  :Willy Aditia*/
/*NIM   :41823010002*/

.profile-container {
    position: relative;
    display: inline-block;
}

.icon-plus {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
}

.icon-plus img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.-W-foto-profil{
    width: 100px;
    height:100px;
    border-radius: 50%;
    object-fit: cover;
}

.-I-Flex{
    display: flex;
    gap: 50px;
}

/* bagian tombol*/
.-L-tombol{                                            
    display:flex;
    gap: 10px;
}

.-L-tombol button {
    flex: 1;
    padding: 10px; 
    font-size: 16px; 
 
    border-radius: 5px; 
    cursor: pointer;}

.-Y-follow{
    color: white;
    background-color:rgb(21, 130, 238);
    border: none;
    
}





/* bagian story*/
.story{
    width: 60px;
    height:60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top:9;
    
}
.txtstory{

    display: flex;
    gap: 85px;
    margin-left: 6px;
}

/*garis pembatas*/
hr {
    border: none;
    border-top: 2px solid #a5a5a5;
    width: 100%;
    margin: 10px auto;

}



.post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 20px 0;
}

.post img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.3s;
}

.post img:hover {
    transform: scale(1.1);
}

.foto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px; 
    margin: 20px 0; 
}

.end img {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    transition: transform 0.3s; 
}

.end img:hover {
    transform: scale(1.1);
}

